.hero {
  background: url(../../images/buildero.png);
  background-repeat: no-repeat;
  background-size: cover;
  &__first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;

    &__title {
      width: 446px;
      color: #fff;
      text-align: center;
      font-family: "Lato";
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    &__text {
      width: 537px;
      color: #fff;
      text-align: center;
      font-family: "Raleway";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      opacity: 0.800000011920929;
      margin-bottom: 50px;
    }
    &__btn {
      color: #fff;
      font-family: "Raleway";
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      background: var(--unnamed, #ae7b3c);
      box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.05);
      padding: 22px 56px;
      border: none;
      margin-bottom: 120px;
    }
  }

  &__second {
    padding-bottom: 45px;
    &__card {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      padding-top: 15px;

      &__img {
        gap: 25px;
      }
      &__buttons {
        display: flex;
        gap: 15px;
      }
      &__btn {
        color: #fff;

        font-family: "Lato";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        border: 1px solid white;
        border-radius: 50%;
        padding: 8px 11px;
        background-color: unset;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .hero {
    background-size: 320px 495px;
  }
  .hero__first__title {
    width: 296px;
    color: #fff;
    text-align: center;

    font-family: "Lato";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
  }

  .hero__first__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    width: 300px;
    opacity: 1;
  }
}
